In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import math

In [2]:
data=pd.read_csv('eurgbp_d.csv')
data['date'] = pd.to_datetime(data['date'])
print(data.head(30))

         date     open     high      low    close       atr        rsi
0  2005-03-14  0.69890  0.69965  0.69730  0.69855  0.003425  65.792899
1  2005-03-15  0.69865  0.69905  0.69475  0.69555  0.003492  57.182835
2  2005-03-16  0.69530  0.69700  0.69420  0.69657  0.003439  59.140697
3  2005-03-17  0.69660  0.69710  0.69445  0.69484  0.003378  54.581967
4  2005-03-18  0.69475  0.69585  0.69301  0.69335  0.003337  50.939960
5  2005-03-21  0.69336  0.69535  0.69160  0.69379  0.003369  51.959376
6  2005-03-22  0.69370  0.69575  0.69303  0.69370  0.003319  51.722632
7  2005-03-23  0.69380  0.69630  0.69245  0.69474  0.003360  54.313121
8  2005-03-24  0.69460  0.69615  0.69183  0.69227  0.003434  47.758639
9  2005-03-25  0.69250  0.69360  0.69198  0.69265  0.003294  48.782690
10 2005-03-28  0.69300  0.69373  0.68963  0.69097  0.003356  44.618483
11 2005-03-29  0.69079  0.69265  0.68853  0.68946  0.003415  41.213185
12 2005-03-30  0.68970  0.69062  0.68725  0.68756  0.003411  37.350429
13 2005-03-31  0.68760  0.68955  0.68525  0.68580  0.003480  34.156816
14 2005-01-04  0.68580  0.68840  0.68532  0.68598  0.003449  34.771103
15 2005-04-04  0.68587  0.68790  0.68460  0.68505  0.003438  33.055191
16 2005-05-04  0.68500  0.68540  0.68260  0.68413  0.003388  31.404166
17 2005-06-04  0.68400  0.68583  0.68337  0.68450  0.003317  32.856663
18 2005-07-04  0.68441  0.68865  0.68425  0.68760  0.003400  43.627086
19 2005-08-04  0.68785  0.68785  0.68512  0.68590  0.003349  39.851801
20 2005-11-04  0.68598  0.68701  0.68513  0.68603  0.003236  40.277411
21 2005-12-04  0.68615  0.68685  0.68270  0.68291  0.003306  34.050071
22 2005-04-13  0.68300  0.68400  0.68075  0.68172  0.003302  32.016797
23 2005-04-14  0.68170  0.68253  0.68045  0.68094  0.003208  30.721834
24 2005-04-15  0.68090  0.68337  0.68025  0.68275  0.003201  37.081396
25 2005-04-18  0.68240  0.68463  0.68153  0.68415  0.003193  41.550742
26 2005-04-19  0.68415  0.68485  0.67965  0.68100  0.003348  35.449213
27 2005-04-20  0.68110  0.68235  0.68014  0.68180  0.003260  37.941650
28 2005-04-21  0.68180  0.68575  0.68145  0.68360  0.003340  43.251076
29 2005-04-22  0.68360  0.68450  0.68170  0.68246  0.003299  40.866393

In [3]:
levels = pd.DataFrame()
levels['date'] = data['date']
levels['h-l'] = data['high'] - data['low']

# Entry level buy orders
levels['lev1b']= data['high']- levels['h-l']*0.236
levels['lev2b']= data['high']- levels['h-l']*0.382
levels['lev3b']= data['high']- levels['h-l']*0.50
levels['lev4b']= data['high']- levels['h-l']*0.618
levels['lev5b']= data['high']- levels['h-l']*0.7647

#Entry level sell order
levels['lev1s']= data['low']+ levels['h-l']*0.236
levels['lev2s']= data['low']+ levels['h-l']*0.382
levels['lev3s']= data['low']+ levels['h-l']*0.50
levels['lev4s']= data['low']+ levels['h-l']*0.618
levels['lev5s']= data['low']+ levels['h-l']*0.7647

print(levels.head(30))

         date      h-l     lev1b     lev2b     lev3b     lev4b     lev5b  \
0  2005-03-14  0.00235  0.699095  0.698752  0.698475  0.698198  0.697853
1  2005-03-15  0.00430  0.698035  0.697407  0.696900  0.696393  0.695762
2  2005-03-16  0.00280  0.696339  0.695930  0.695600  0.695270  0.694859
3  2005-03-17  0.00265  0.696475  0.696088  0.695775  0.695462  0.695074
4  2005-03-18  0.00284  0.695180  0.694765  0.694430  0.694095  0.693678
5  2005-03-21  0.00375  0.694465  0.693917  0.693475  0.693033  0.692482
6  2005-03-22  0.00272  0.695108  0.694711  0.694390  0.694069  0.693670
7  2005-03-23  0.00385  0.695391  0.694829  0.694375  0.693921  0.693356
8  2005-03-24  0.00432  0.695130  0.694500  0.693990  0.693480  0.692846
9  2005-03-25  0.00162  0.693218  0.692981  0.692790  0.692599  0.692361
10 2005-03-28  0.00410  0.692762  0.692164  0.691680  0.691196  0.690595
11 2005-03-29  0.00412  0.691678  0.691076  0.690590  0.690104  0.689499
12 2005-03-30  0.00337  0.689825  0.689333  0.688935  0.688537  0.688043
13 2005-03-31  0.00430  0.688535  0.687907  0.687400  0.686893  0.686262
14 2005-01-04  0.00308  0.687673  0.687223  0.686860  0.686497  0.686045
15 2005-04-04  0.00330  0.687121  0.686639  0.686250  0.685861  0.685376
16 2005-05-04  0.00280  0.684739  0.684330  0.684000  0.683670  0.683259
17 2005-06-04  0.00246  0.685249  0.684890  0.684600  0.684310  0.683949
18 2005-07-04  0.00440  0.687612  0.686969  0.686450  0.685931  0.685285
19 2005-08-04  0.00273  0.687206  0.686807  0.686485  0.686163  0.685762
20 2005-11-04  0.00188  0.686566  0.686292  0.686070  0.685848  0.685572
21 2005-12-04  0.00415  0.685871  0.685265  0.684775  0.684285  0.683676
22 2005-04-13  0.00325  0.683233  0.682759  0.682375  0.681991  0.681515
23 2005-04-14  0.00208  0.682039  0.681735  0.681490  0.681245  0.680939
24 2005-04-15  0.00312  0.682634  0.682178  0.681810  0.681442  0.680984
25 2005-04-18  0.00310  0.683898  0.683446  0.683080  0.682714  0.682259
26 2005-04-19  0.00520  0.683623  0.682864  0.682250  0.681636  0.680874
27 2005-04-20  0.00221  0.681828  0.681506  0.681245  0.680984  0.680660
28 2005-04-21  0.00430  0.684735  0.684107  0.683600  0.683093  0.682462
29 2005-04-22  0.00280  0.683839  0.683430  0.683100  0.682770  0.682359

       lev1s     lev2s     lev3s     lev4s     lev5s
0   0.697855  0.698198  0.698475  0.698752  0.699097
1   0.695765  0.696393  0.696900  0.697407  0.698038
2   0.694861  0.695270  0.695600  0.695930  0.696341
3   0.695075  0.695462  0.695775  0.696088  0.696476
4   0.693680  0.694095  0.694430  0.694765  0.695182
5   0.692485  0.693033  0.693475  0.693917  0.694468
6   0.693672  0.694069  0.694390  0.694711  0.695110
7   0.693359  0.693921  0.694375  0.694829  0.695394
8   0.692850  0.693480  0.693990  0.694500  0.695134
9   0.692362  0.692599  0.692790  0.692981  0.693219
10  0.690598  0.691196  0.691680  0.692164  0.692765
11  0.689502  0.690104  0.690590  0.691076  0.691681
12  0.688045  0.688537  0.688935  0.689333  0.689827
13  0.686265  0.686893  0.687400  0.687907  0.688538
14  0.686047  0.686497  0.686860  0.687223  0.687675
15  0.685379  0.685861  0.686250  0.686639  0.687124
16  0.683261  0.683670  0.684000  0.684330  0.684741
17  0.683951  0.684310  0.684600  0.684890  0.685251
18  0.685288  0.685931  0.686450  0.686969  0.687615
19  0.685764  0.686163  0.686485  0.686807  0.687208
20  0.685574  0.685848  0.686070  0.686292  0.686568
21  0.683679  0.684285  0.684775  0.685265  0.685874
22  0.681517  0.681991  0.682375  0.682759  0.683235
23  0.680941  0.681245  0.681490  0.681735  0.682041
24  0.680986  0.681442  0.681810  0.682178  0.682636
25  0.682262  0.682714  0.683080  0.683446  0.683901
26  0.680877  0.681636  0.682250  0.682864  0.683626
27  0.680662  0.680984  0.681245  0.681506  0.681830
28  0.682465  0.683093  0.683600  0.684107  0.684738
29  0.682361  0.682770  0.683100  0.683430  0.683841

In [4]:
open_trade = pd.DataFrame()
open_trade['date'] = data['date'].loc[lambda s: levels['h-l'] > data['atr']]
dates = data['date'].isin(open_trade['date'])
dates_lev = levels['date'].isin(open_trade['date'])

open_trade['buy_or_sell'] = np.where(
    data['open'].loc[dates] < data['close'].loc[dates],
    'buy', 'sell'
)

open_trade['lev1btp'] = data['high'].loc[dates] + levels['h-l'].loc[dates] * 1.236
open_trade['lev2btp'] = data['high'].loc[dates] + levels['h-l'].loc[dates] * 1.382
open_trade['lev3btp'] = data['high'].loc[dates] + levels['h-l'].loc[dates] * 1.5
open_trade['lev4btp'] = data['high'].loc[dates] + levels['h-l'].loc[dates] * 1.618
open_trade['lev5btp'] = data['high'].loc[dates] + levels['h-l'].loc[dates] * 1.7647

open_trade['lev1stp'] = levels['lev1s'].loc[dates_lev] - levels['h-l'].loc[dates_lev]
open_trade['lev2stp'] = levels['lev2s'].loc[dates_lev] - levels['h-l'].loc[dates_lev]
open_trade['lev3stp'] = levels['lev3s'].loc[dates_lev] - levels['h-l'].loc[dates_lev]
open_trade['lev4stp'] = levels['lev4s'].loc[dates_lev] - levels['h-l'].loc[dates_lev]
open_trade['lev5stp'] = levels['lev5s'].loc[dates_lev] - levels['h-l'].loc[dates_lev]

print(open_trade.head(30))

         date buy_or_sell   lev1btp   lev2btp   lev3btp   lev4btp   lev5btp  \
1  2005-03-15        sell  0.704365  0.704993  0.705500  0.706007  0.706638
5  2005-03-21         buy  0.699985  0.700533  0.700975  0.701418  0.701968
7  2005-03-23         buy  0.701059  0.701621  0.702075  0.702529  0.703094
8  2005-03-24        sell  0.701490  0.702120  0.702630  0.703140  0.703774
10 2005-03-28        sell  0.698798  0.699396  0.699880  0.700364  0.700965
11 2005-03-29        sell  0.697742  0.698344  0.698830  0.699316  0.699921
13 2005-03-31        sell  0.694865  0.695493  0.696000  0.696507  0.697138
18 2005-07-04         buy  0.694088  0.694731  0.695250  0.695769  0.696415
21 2005-12-04        sell  0.691979  0.692585  0.693075  0.693565  0.694174
26 2005-04-19        sell  0.691277  0.692036  0.692650  0.693264  0.694026
28 2005-04-21         buy  0.691065  0.691693  0.692200  0.692707  0.693338
30 2005-04-25        sell  0.687120  0.687690  0.688150  0.688610  0.689182
32 2005-04-27        sell  0.686276  0.686787  0.687200  0.687613  0.688126
33 2005-04-28        sell  0.684618  0.685211  0.685690  0.686169  0.686765
34 2005-04-29        sell  0.683335  0.683938  0.684425  0.684912  0.685518
35 2005-02-05         buy  0.685606  0.686377  0.687000  0.687623  0.688398
36 2005-03-05         buy  0.687315  0.687943  0.688450  0.688957  0.689588
39 2005-06-05        sell  0.690139  0.690961  0.691625  0.692289  0.693115
40 2005-09-05         buy  0.687427  0.688062  0.688575  0.689088  0.689726
43 2005-12-05        sell  0.690933  0.691634  0.692200  0.692766  0.693471
45 2005-05-16         buy  0.696952  0.697974  0.698800  0.699626  0.700653
54 2005-05-27         buy  0.695220  0.695790  0.696250  0.696710  0.697282
55 2005-05-30        sell  0.698532  0.699504  0.700290  0.701076  0.702053
56 2005-05-31        sell  0.695109  0.696321  0.697300  0.698279  0.699497
57 2005-01-06        sell  0.684251  0.685025  0.685650  0.686275  0.687053
61 2005-07-06        sell  0.678797  0.679476  0.680025  0.680574  0.681256
64 2005-10-06        sell  0.677427  0.678062  0.678575  0.679088  0.679726
66 2005-06-14        sell  0.681637  0.682681  0.683525  0.684369  0.685418
69 2005-06-17         buy  0.681143  0.682289  0.683215  0.684141  0.685293
70 2005-06-20        sell  0.676704  0.677448  0.678050  0.678652  0.679400

     lev1stp   lev2stp   lev3stp   lev4stp   lev5stp
1   0.691465  0.692093  0.692600  0.693107  0.693738
5   0.688735  0.689283  0.689725  0.690167  0.690718
7   0.689509  0.690071  0.690525  0.690979  0.691544
8   0.688530  0.689160  0.689670  0.690180  0.690814
10  0.686498  0.687096  0.687580  0.688064  0.688665
11  0.685382  0.685984  0.686470  0.686956  0.687561
13  0.681965  0.682593  0.683100  0.683607  0.684238
18  0.680888  0.681531  0.682050  0.682569  0.683215
21  0.679529  0.680135  0.680625  0.681115  0.681724
26  0.675677  0.676436  0.677050  0.677664  0.678426
28  0.678165  0.678793  0.679300  0.679807  0.680438
30  0.675420  0.675990  0.676450  0.676910  0.677482
32  0.675776  0.676287  0.676700  0.677113  0.677626
33  0.672438  0.673031  0.673510  0.673989  0.674585
34  0.670945  0.671548  0.672035  0.672522  0.673128
35  0.669766  0.670537  0.671160  0.671783  0.672558
36  0.674415  0.675043  0.675550  0.676057  0.676688
39  0.673249  0.674071  0.674735  0.675399  0.676225
40  0.674377  0.675012  0.675525  0.676038  0.676676
43  0.676533  0.677234  0.677800  0.678366  0.679071
45  0.675952  0.676974  0.677800  0.678626  0.679653
54  0.683520  0.684090  0.684550  0.685010  0.685582
55  0.678552  0.679524  0.680310  0.681096  0.682073
56  0.670209  0.671421  0.672400  0.673379  0.674597
57  0.668351  0.669125  0.669750  0.670375  0.671153
61  0.664847  0.665526  0.666075  0.666624  0.667306
64  0.664377  0.665012  0.665525  0.666038  0.666676
66  0.660187  0.661231  0.662075  0.662919  0.663968
69  0.657593  0.658739  0.659665  0.660591  0.661743
70  0.661404  0.662148  0.662750  0.663352  0.664100

In [22]:
close_trade = pd.DataFrame()
def find_date(x):
    dates_gt_x = data[data['date'] > x]
    if open_trade[open_trade['date'] == x]['buy_or_sell'].values[0] == 'buy':
        key = open_trade[open_trade['date'] == x]['lev1btp'].values[0]
        items = dates_gt_x[dates_gt_x['high'] >= key]['date']
    elif open_trade[open_trade['date'] == x]['buy_or_sell'].values[0] == 'sell':
        key = open_trade[open_trade['date'] == x]['lev5stp'].values[0]
        items = dates_gt_x[dates_gt_x['low'] <= key]['date']
    if len(items) > 0:
        return items.values[0]
    else:
        return None

close_trade['date'] = open_trade['date'].apply(find_date)
print(close_trade.head(30))

         date
1  2005-03-18
5  2006-05-04
7  2006-05-04
8  2005-03-28
10 2005-03-29
11 2005-03-30
13 2005-05-04
18 2005-07-20
21 2005-12-05
26 2005-04-25
28 2005-07-13
30 2005-04-28
32 2005-04-28
33 2005-04-29
34 2005-06-06
35 2005-03-14
36 2005-03-14
39 2005-06-06
40 2005-11-07
43 2005-12-09
45 2005-07-20
54 2005-07-20
55 2005-06-05
56 2005-06-06
57 2005-07-06
61 2006-10-31
64 2007-11-01
66 2005-06-15
69 2005-07-04
70 2005-06-21